<footer class="footer">
    <ul class="footer-meta-list">
        <li class="footer-meta">
            <img src="https://img.icons8.com/emoji/25/000000/copyright-emoji.png"/>
            Kaleb Moreno 2020 | 
        </li>
        <li class="footer-meta">kmor@kmor.dev | </li>
        <li class="footer-meta" >(253)-333-3333</li>
    </ul>

</footer>
</body>
<link rel="stylesheet" href="/css/partials/footer.css">

</html>