<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/partials/header.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap" rel="stylesheet"> 
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <div class="logo">
                <img src="https://img.icons8.com/ios/30/000000/computer-support.png"/>
            </div>
            <div>
                <a href="/home"><h1 id="logo-alt">IT Department Intranet</h1></a>
            </div>
            
        </div>
        <div class="menu">
            <a href="/slots">Slots</a>
            <a href="/bingo">Bingo</a> 
            <a href="/tools">Tools</a> 
            <a href="/">Logout</a>
        </div>
    </header>   