<%- include('./partials/header_partial.ejs') %>
    <div class="main-content">

        <div class="sidebar">
            <h1 id="sidebar-title">Bingo</h1>
            <hr>

            <div class="comment">
                <h3 class="comment-title"> Only use the machine in Silver for FireWolf JPs</h3>
                <h4 class="comment-sub-title">Or else</h4>
                <p class="comment-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eligendi optio non voluptatem. Aperiam dolores dicta quibusdam doloribus. Sed eligendi accusamus tempora numquam temporibus veritatis mollitia recusandae magnam aut quos.</p>
                <ul class="comment-meta-container">
                    <li class="comment-meta">Author</li>
                    <li class="comment-meta">Date</li>
                    <li class="comment-meta">Comments</li>
                    <li class="comment-meta">Tags</li>
                </ul>
            </div>
        </div>

    </div>

<%- include('./partials/footer_partial.ejs') %>
