<%- include('./partials/header_partial.ejs') %>
<div class="main-content">
  <h1>ERROR PAGE</h1>
  <hr>
  <h1>STATUS CODE: <%= err.status %> </h1>
  <h1>MESSAGE: <%= err.message %> </h1>

</div>

<%- include('./partials/footer_partial.ejs') %>