<%- include('./partials/header_partial.ejs') %>
    <div class="main-content">

        <div class="form-container">
            <form class="update-form" action="/slotJP" method="POST">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" placeholder="...">

                <label for="password">Password</label>
                <input id="password"name="password" type="password" placeholder="...">


                <button id="submit-btn" type="submit">Login</button>
                <button id="submit-btn" type="submit">Sign Up</button>
            </form>
        </div>
    </div>

<%- include('./partials/footer_partial.ejs') %>
