.header {
    display: flex;
    flex-direction: row;
    background-color: #c0c0c0;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 5px black;

}

.logo-container {
    display: flex;
    flex-grow: 4;
    flex-direction: row;
    align-self: flex-end;


}

.logo {
    margin-right: 1rem;
    align-self: center;
}


#logo-alt {
    font-size: 1rem;
}

.menu {
    align-self: center;
}
